title = "Квартира"
url = "/apartment/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Northpen\Rent\Models\Apartments"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id, pic_sliders"
notFoundMessage = "Record not found"
==
<?

use Northpen\Rent\Models\Apartments;

function onStart()
{
    $post_id = $this->param('id');
    $this["page"] = Apartments::where('id', $post_id)->first();
    $this->page->title = $this["page"]["address"];
}

function onCallBack()
{
	$data = post();

    $rules = [
        'name' => 'required',
        'phone' => 'required',
    ];

    $validation = Validator::make($data, $rules);

    if ($validation->fails()) {
        throw new ValidationException($validation);
    }else {
    	$vars = ['name' => $data["name"], 'phone' => $data["phone"], 'apartment_address' => $data["apartment_address"], 'apartment_id' => $data["apartment_id"]];

		Mail::queue('frontend::mail.callback', $vars, function($message) {

		    $message->to('anderthebs@gmail.com', 'Аренда квартир в Мурманске');
		    $message->subject('Новое уведомление с сайта');

		});
    }

    Flash::success('Jobs done!');
}

?>
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% set pic_count = 0 %}
{% for pic in record.pic_sliders %}
{% set pic_count = pic_count + 1 %}
{% endfor %}


	{% if record %}
		<!-- Slide -->
		<div id="slider" class="carousel slide" data-ride="carousel" {% if pic_count == 0 %}style="height: 200px; background: url({{ 'assets/images/no-pic.jpg'|theme }});"{% endif %}>
		  <ol class="carousel-indicators">
		    {% set i = 0 %}
		    {% for pic in record.pic_sliders %}
		    <li data-target="#slider" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
		    {% set i = i + 1 %}
		    {% endfor %}
		  </ol>
		  <div class="carousel-inner"{% if pic_count == 0 %} style="height: 200px"{% endif %}>
		    {% set i = 0 %}
		    {% for pic in record.pic_sliders %}
		        <div class="carousel-item{% if i == 0 %} active{% endif %}">
		            <img src="/storage/app/media{{ pic.pic }}" class="d-block w-100" alt="...">
		        </div>
		    {% set i = i + 1 %}
		    {% endfor %}
		  </div>
		  {% if pic_count != 0 %}
		  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		  {% endif %}
		  <div class="container pos-rel">
		  		{% if pic_count != 0 %}
		  		<a class="show-modal" data-target="#myModal" data-toggle="modal" href="#">{{ 'ShowAllPhoto'|_ }}</a>
		  		{% endif %}
		  		<span class="price-box mr-3"><h1>{{ record.price }} {{ 'Rub'|_ }}</span></h1><span class="label-for-day">{% if record.long_term == 1 %}{{ 'PerMountWithOutRub'|_ }}{% else %}{{ 'PerDayWithOutRub'|_ }}{% endif %}</span></span>
			</div>
		</div>
		<!-- Slide end -->

	<div class="modal fade bd-example-modal-xl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl">
	    <div class="modal-content p-4 ">
	      {% for pic in record.pic_sliders %}
		            <img src="/storage/app/media{{ pic.pic }}" class="d-block w-100 mb-4" alt="...">
		    {% endfor %}
	    </div>
	  </div>
	</div>

	<div class="modal fade bd-example-modal-xl" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel2" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content p-4 ">
	      <h1 class="text-center title-uppercase mt-4 pb-5">{{ 'Reservation'|_ }}</h1>
	      <form data-request-update="callback: '#after-callback'" data-request-validate data-request="onCallBack" data-request-flash>
	      <div class="form-group">
	      	<input class="form-control form-control-lg" name="name" type="text" placeholder="{{ 'YourName'|_ }}">
	  	  </div>
	      <div class="form-group">
	        <input id="input-phone" class="form-control form-control-lg" name="phone" type="text" placeholder="{{ 'Phone'|_ }}">
	      </div>
	        <input class="form-control form-control-lg" hidden name="apartment_address" value="{{ record.address }}" type="text" placeholder="{{ 'Phone'|_ }}">
	        <input class="form-control form-control-lg" hidden name="apartment_id" value="{{ record.id }}" type="text" placeholder="{{ 'Phone'|_ }}">
	      <button data-attach-loading type="submit" class="btn title-uppercase btn-outline-info btn-lg btn-block">{{ 'Reservation'|_ }}</button>
	  	  </form>

	    </div>
	  </div>
	</div>

	<div class="container">

	<div id="after-callback"></div>
		<div class="row">
			<div class="col-lg-12">
				<h2 class="separator-bottom mt-4 pb-4 title-uppercase">{{ record.address }}
				<a class="btn-reservation" data-target="#myModal2" data-toggle="modal" href="#">{{ 'Reservation'|_ }}</a></h2>
			</div>
		</div>
		<div class="row mb-4">
				{% set icon_count = 0 %}
					{% for icon in record.icons %}
					{% set icon_count = icon_count + 1 %}
				{% endfor %}

				{% set i = 0 %}
				{% for icon in record.icons %}
				{% set i = i + 1 %}
					<div class="col-lg-2 mt-3{% if icon_count != i %} separator-hor{% endif %}">
						<h5 class="text-center">{{ icon.title }}</h5>
						<h3 class="text-center">{{ icon.value }}</h3>
					</div>
				{% endfor %}
		</div>

		{% if record.rooms == 0 %}
			{% set type_room = "StudiaRoom"|_ %}
		{% elseif record.rooms == 1 %}
			{% set type_room = "OneRoom"|_ %}
		{% elseif record.rooms == 2 %}
			{% set type_room = "TwoRoom"|_ %}
		{% elseif record.rooms == 3 %}
			{% set type_room = "ThreeRoom"|_ %}
		{% elseif record.rooms == 4 %}
			{% set type_room = "FourRoom"|_ %}
		{% endif %}

		<div class="row title-uppercase">
			<div class="title col-lg-12">
				<h4>{{ 'LabelLittleDescription'|_ }}</h4>
			</div>
			<div class="col-lg-3 mt-4"><h4>{{ 'LabelAddress'|_ }}</h4></div><div class="col-lg-9 mt-4"><h4>{{ record.address }}</h4></div>
			<div class="col-lg-3 mt-3"><h4>{{ 'LabelRoomCount'|_ }}</h4></div><div class="col-lg-9 mt-3"><h4>{{ type_room }}</h4></div>
			{% for ld_item in record.little_description %}
				<div class="col-lg-3 mt-3"><h4>{{ ld_item.title }}</h4></div><div class="col-lg-9 mt-3"><h4>{{ ld_item.value }}</h4></div>
			{% endfor %}
		</div>

		<div class="row mt-3 title-uppercase">
			<div class="title col-lg-12">
				<h4>{{ 'LabelDescription'|_ }}</h4>
			</div>
			<div class="col-lg-12">
				<h4 class="mt-3 lh-15">{{ record.description }}</h4>
			</div>
		</div>

		<div class="row mt-3 title-uppercase">
			<div class="title col-lg-12">
				<h4>{{ 'LabelRelax'|_ }}</h4>
			</div>
			<div class="col-lg-8 pt-3">
				{% for ld_item in record.relax %}
				<span class="mt-3 lh-15 span-relax">{{ ld_item.value }}</span>
				{% endfor %}
			</div>
		</div>
	</div>
	{% else %}
	    {{ notFoundMessage }}
	{% endif %}