title = "Demonstration"
url = "/"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Northpen\Rent\Models\Sliders"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Northpen\Rent\Models\Apartments"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList3]
modelClass = "Northpen\Rent\Models\Rewrites"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 4
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set apa_records = builderList2.records %}
{% set apa_displayColumn = builderList2.displayColumn %}
{% set apa_noRecordsMessage = builderList2.noRecordsMessage %}
{% set apa_detailsPage = builderList2.detailsPage %}
{% set apa_detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set apa_detailsUrlParameter = builderList2.detailsUrlParameter %}

{% set rew_records = builderList3.records %}
{% set rew_displayColumn = builderList3.displayColumn %}
{% set rew_noRecordsMessage = builderList3.noRecordsMessage %}
{% set rew_detailsPage = builderList3.detailsPage %}
{% set rew_detailsKeyColumn = builderList3.detailsKeyColumn %}
{% set rew_detailsUrlParameter = builderList3.detailsUrlParameter %}

<div id="slider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% set i = 0 %}
    {% for record in records %}
    <li data-target="#slider" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
    {% set i = i + 1 %}
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% set i = 0 %}
    {% for record in records %}
        <div class="carousel-item{% if i == 0 %} active{% endif %}">
            <img src="/storage/app/media{{ record.pic }}" class="d-block w-100" alt="...">
        </div>
    {% set i = i + 1 %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% set room_count = 0 %}
{% for record in apa_records %}
    {% if record.rooms == 1 and record.long_term != 1 and record.hidden_apartment != 1 %}
        {% set room_count = room_count + 1 %}
    {% endif %}
{% endfor %}

<div class="container mt-4 mb-4">
    <h4 class="title-uppercase mb-4">{{ 'TitleOneRoom'|_ }} {% if room_count > 0 %}<span class="apartment-count">{{ 'TitleAllApartments'|_ }} {{ room_count }}</span>{% endif %}</h4>

    <div class="row">
        {% for record in apa_records %}
        {% if record.rooms == 1 and record.long_term != 1 and record.hidden_apartment != 1 %}
        {% set img = '/storage/app/media' ~ record.pic_review %}
        <div class="col-lg-4">
            <div class="card card-with-shadow card-min-height">
                {% if record.date_to %}
                    {% if ""|date("U") < record.date_from|date("U") %}
                        {% set status = "s-reserv" %}
                    {% elseif ""|date("U") >= record.date_from|date("U") and ""|date("U") <= record.date_to|date("U") %}
                        {% set status = "s-close" %}
                    {% elseif ""|date("U") > record.date_to|date("U") %}
                        {% set status = "s-open" %}
                {% endif %}
                {% else %}
                    {% set status = "s-open" %}
                {% endif %}
              <div class="status {{ status }}">{% if status == "s-open" %}{{ 'LabelOpen'|_ }}{% elseif status == "s-close" %}{{ 'LabelClose'|_ ~ " " ~ record.date_to|date("d.m") }}{% elseif status == "s-reserv" %}{{ 'LabelReserv'|_ ~ " " ~ record.date_from|date("d.m") ~ " " ~ 'LabelReservTo'|_ ~ " " ~ " " ~ record.date_to|date("d.m") }}{% endif %}</div>
              <div class="card-body">
                <img class="width-100" src="{{ img | resize(400,400, { mode : 'crop' }) }}" alt="placeholder+image">
                <div class="price m-3 text-center">{{ record.price }} {{ 'PerDay'|_ }}</div>
                <p class="text-center">
                    {{ record.desciption_short }}
                </p>
              </div>
              <a class="btn-to-apartment" href="/apartment/{{ record.id }}">{{ 'ToApartment'|_ }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if room_count == 0 %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mt-5">
                <div class="alert alert-info" role="alert">
                  <h4 class="alert-heading">{{ 'TitleApartmentsNotFount'|_ }}</h4>
                  <p>{{ 'DescriptionApartmentsNotFount'|_ }}</p>
                  <hr>
                  <p class="mb-0">{{ 'HelpApartmentsNotFount'|_ }}</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% set room_count = 0 %}
{% for record in apa_records %}
    {% if record.rooms == 2 and record.long_term != 1 and record.hidden_apartment != 1 %}
        {% set room_count = room_count + 1 %}
    {% endif %}
{% endfor %}

<div class="container mt-5 mb-4">
    <h4 class="title-uppercase mb-4">{{ 'TitleTwoRoom'|_ }} {% if room_count > 0 %}<span class="apartment-count">{{ 'TitleAllApartments'|_ }} {{ room_count }}</span>{% endif %}</h4>

    <div class="row">
        {% for record in apa_records %}
        {% if record.rooms == 2 and record.long_term != 1 and record.hidden_apartment != 1 %}
        {% set img = '/storage/app/media' ~ record.pic_review %}
        <div class="col-lg-4">
            <div class="card card-with-shadow card-min-height">
                {% if record.date_to %}
                    {% if ""|date("U") < record.date_from|date("U") %}
                        {% set status = "s-reserv" %}
                    {% elseif ""|date("U") >= record.date_from|date("U") and ""|date("U") <= record.date_to|date("U") %}
                        {% set status = "s-close" %}
                    {% elseif ""|date("U") > record.date_to|date("U") %}
                        {% set status = "s-open" %}
                {% endif %}
                {% else %}
                    {% set status = "s-open" %}
                {% endif %}
              <div class="status {{ status }}">{% if status == "s-open" %}{{ 'LabelOpen'|_ }}{% elseif status == "s-close" %}{{ 'LabelClose'|_ ~ " " ~ record.date_to|date("d.m") }}{% elseif status == "s-reserv" %}{{ 'LabelReserv'|_ ~ " " ~ record.date_from|date("d.m") ~ " " ~ 'LabelReservTo'|_ ~ " " ~ " " ~ record.date_to|date("d.m") }}{% endif %}</div>
              <div class="card-body">
                <img class="width-100" src="{{ img | resize(400,400, { mode : 'crop' }) }}" alt="placeholder+image">
                <div class="price m-3 text-center">{{ record.price }} {{ 'PerDay'|_ }}</div>
                <p class="text-center">
                    {{ record.desciption_short }}
                </p>
              </div>
              <a class="btn-to-apartment" href="/apartment/{{ record.id }}">{{ 'ToApartment'|_ }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if room_count == 0 %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mt-5">
                <div class="alert alert-info" role="alert">
                  <h4 class="alert-heading">{{ 'TitleApartmentsNotFount'|_ }}</h4>
                  <p>{{ 'DescriptionApartmentsNotFount'|_ }}</p>
                  <hr>
                  <p class="mb-0">{{ 'HelpApartmentsNotFount'|_ }}</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% set room_count = 0 %}
{% for record in apa_records %}
    {% if record.rooms == 3 and record.long_term != 1 and record.hidden_apartment != 1 %}
        {% set room_count = room_count + 1 %}
    {% endif %}
{% endfor %}

<div class="container mt-5 mb-4">
    <h4 class="title-uppercase mb-4">{{ 'TitleThreeRoom'|_ }} {% if room_count > 0 %}<span class="apartment-count">{{ 'TitleAllApartments'|_ }} {{ room_count }}</span>{% endif %}</h4>

    <div class="row">
        {% for record in apa_records %}
        {% if record.rooms == 3 and record.long_term != 1 and record.hidden_apartment != 1 %}
        {% set img = '/storage/app/media' ~ record.pic_review %}
        <div class="col-lg-4">
            <div class="card card-with-shadow card-min-height">
                {% if record.date_to %}
                    {% if ""|date("U") < record.date_from|date("U") %}
                        {% set status = "s-reserv" %}
                    {% elseif ""|date("U") >= record.date_from|date("U") and ""|date("U") <= record.date_to|date("U") %}
                        {% set status = "s-close" %}
                    {% elseif ""|date("U") > record.date_to|date("U") %}
                        {% set status = "s-open" %}
                {% endif %}
                {% else %}
                    {% set status = "s-open" %}
                {% endif %}
              <div class="status {{ status }}">{% if status == "s-open" %}{{ 'LabelOpen'|_ }}{% elseif status == "s-close" %}{{ 'LabelClose'|_ ~ " " ~ record.date_to|date("d.m") }}{% elseif status == "s-reserv" %}{{ 'LabelReserv'|_ ~ " " ~ record.date_from|date("d.m") ~ " " ~ 'LabelReservTo'|_ ~ " " ~ " " ~ record.date_to|date("d.m") }}{% endif %}</div>
              <div class="card-body">
                <img class="width-100" src="{{ img | resize(400,400, { mode : 'crop' }) }}" alt="placeholder+image">
                <div class="price m-3 text-center">{{ record.price }} {{ 'PerDay'|_ }}</div>
                <p class="text-center">
                    {{ record.desciption_short }}
                </p>
              </div>
              <a class="btn-to-apartment" href="/apartment/{{ record.id }}">{{ 'ToApartment'|_ }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% if room_count == 0 %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mt-5">
                <div class="alert alert-info" role="alert">
                  <h4 class="alert-heading">{{ 'TitleApartmentsNotFount'|_ }}</h4>
                  <p>{{ 'DescriptionApartmentsNotFount'|_ }}</p>
                  <hr>
                  <p class="mb-0">{{ 'HelpApartmentsNotFount'|_ }}</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="review mt-5 pb-5">
    <div class="container">
        <h1 class="text-center pt-5 mb-5 title-uppercase">{{ 'TitleReview'|_ }}</h1>
        <div class="row">
            {% for record in rew_records %}
                <div class="col-lg-3">
                    <div class="card card-review-min-height">
                        <div class="card-body">
                            <h4 class="mb-3">{{ record.name }}</h4>
                            <p>
                                {{ record.description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>