title = "Двухкомнтаные"
url = "/two-room"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Northpen\Rent\Models\Apartments"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set room_count = 0 %}
{% for record in records %}
	{% if record.rooms == 2 and record.long_term != 1 and record.hidden_apartment != 1 %}
		{% set room_count = room_count + 1 %}
	{% endif %}
{% endfor %}

<div class="container mt-4 mb-4">
	<h4 class="title-uppercase mb-4">{{ 'TitleTwoRoom'|_ }} {% if room_count > 0 %}<span class="apartment-count">{{ 'TitleAllApartments'|_ }} {{ room_count }}</span>{% endif %}</h4>

	<div class="row">
	    {% for record in records %}
	    {% if record.rooms == 2 and record.long_term != 1 and record.hidden_apartment != 1 %}
	    {% set img = '/storage/app/media' ~ record.pic_review %}
		<div class="col-lg-4">
			<div class="card card-with-shadow card-min-height">
				{% if record.date_to %}
					{% if ""|date("U") < record.date_from|date("U") %}
						{% set status = "s-reserv" %}
					{% elseif ""|date("U") >= record.date_from|date("U") and ""|date("U") <= record.date_to|date("U") %}
						{% set status = "s-close" %}
					{% elseif ""|date("U") > record.date_to|date("U") %}
			  			{% set status = "s-open" %}
			  	{% endif %}
			  	{% else %}
			  		{% set status = "s-open" %}
			  	{% endif %}
			  <div class="status {{ status }}">{% if status == "s-open" %}{{ 'LabelOpen'|_ }}{% elseif status == "s-close" %}{{ 'LabelClose'|_ ~ " " ~ record.date_to|date("d.m") }}{% elseif status == "s-reserv" %}{{ 'LabelReserv'|_ ~ " " ~ record.date_from|date("d.m") ~ " " ~ 'LabelReservTo'|_ ~ " " ~ " " ~ record.date_to|date("d.m") }}{% endif %}</div>
			  <div class="card-body">
			    <img class="width-100" src="{{ img | resize(400,400, { mode : 'crop' }) }}" alt="placeholder+image">
			    <div class="price m-3 text-center">{{ record.price }} {{ 'PerDay'|_ }}</div>
			    <p class="text-center">
			    	{{ record.desciption_short }}
			    </p>
			  </div>
			  <a class="btn-to-apartment" href="/apartment/{{ record.id }}">{{ 'ToApartment'|_ }}</a>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% if room_count == 0 %}
		<div class="row">
			<div class="col-lg-8 offset-lg-2 mt-5">
				<div class="alert alert-info" role="alert">
				  <h4 class="alert-heading">{{ 'TitleApartmentsNotFount'|_ }}</h4>
				  <p>{{ 'DescriptionApartmentsNotFount'|_ }}</p>
				  <hr>
				  <p class="mb-0">{{ 'HelpApartmentsNotFount'|_ }}</p>
				</div>
			</div>
		</div>
	{% endif %}
</div>