description = "Default layout"

[staticPage]
useContent = 1
default = 0
==
<?php
function onStart() {
    // Buld assets JS and CSS/LESS
    $this["ver"] = "1.40.000";
    $this->addCss([
        'resources/vendor/bootstrap/css/bootstrap.min.css',
        'resources/vendor/animate.css/animate.min.css',
        'resources/custom/less/app.less',
    ]);
    $this->addJs([
        'resources/vendor/jquery/jquery.min.js',
        'resources/vendor/bootstrap/js/bootstrap.min.js',
        'resources/vendor/bootstrap/js/bootstrap.bundle.min.js',
        'resources/vendor/jquery-mask-plugin/jquery.mask.min.js',
        'resources/custom/js/app.js'
    ]);
}
?>
==
<!DOCTYPE html>
<html class="h-100" data-version="{{ ver }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1200, initial-scale=1, shrink-to-fit=no">
        <title>{{ 'Brand'|_ }} - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Northern Peninsula">
        <meta name="generator" content="{{ 'Brand'|_ }}">
        {% styles %}
    </head>
    <body class="h-100">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content" class="pb-5">
            {% if staticPage.content != null %}
            <div class="container"> 
                <h3 class="mt-4 mb-4 text-uppercase">{{ page.title }}</h3>
                <p>{% page %}</p>
            </div>
            {% else %}
                {% page %}
            {% endif %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer" class="footer mt-auto py-3">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        {% scripts %}
        <script src="{{ ['@framework','@framework.extras']|theme }}"></script>

    </body>
</html>