@maincolor: #1abcc1;
.transition-3ms {
	transition: 0.3s;
};

body {
	color: #313549;
}

.main-color {
	background: @maincolor;
}

.cus-item {
	color: white !important;
    padding: 15px;
	font-size: 13px;
	text-transform: uppercase;
    font-weight: 600;
}

.cus-item:hover {
    background: rgba(0,0,0,0.1);
}

.cus-item-footer {
    color: white !important;

    font-size: 15px;
    padding: 6px 0px;
}

.font-size-10 {
	font-size: 10px;
    padding: 17px 15px;
}

.into-box-top, .into-box-bottom a {
	font-size: 13px;
}

.title-phone {
	color: #787c87;
}

.lh-15 {
    line-height: 1.5;
}

.btn-reservation {
    font-size: 20px;
    padding: 13px 63px;
    border: 2px solid #b6418a;
    border-radius: 4px;
    color: #b6418a;
    float: right;
    margin-top: -8px;
}

.btn-reservation:hover {
    background: #b6418a;
    color: #fff;
    text-decoration: none;
}

.icon-into-box {
    float: left;
    margin-right: 10px;
    height: 34px;
}

.icon-messanger {
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    background-repeat: no-repeat !important;
    margin-right: 4px;
    margin-top: 3px;
}

.time-work {
    position: absolute;
    top: -3px;
    right: 0px;
}

.into-box-top {
    width: 200px !important;
    position: relative;
    padding-top: 2px;
}

.icon-into-box {}

.into-box-bottom a {
    color: #000;
    float: left;
    margin-right: 9px;
}

.right-into-box {
    margin-top: 8px;
}

a.link-to-vk {
    background: #597da3;
    color: #fff;
    width: 160px;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 23px !important;
    text-transform: uppercase;
    padding-top: 7px;
    border-radius: 4px;
    margin-top: 4px;
}

.link-to-vk:hover {
	background: #335880;
	text-decoration: none;
}

.link-to-vk img {
    margin-top: -10px;
}

.carousel-inner {
	max-height: 700px;
}

.title-uppercase {
	text-transform: uppercase;
}

.width-100 {
	width: 100%;
}

.price {
    font-size: 24px;
    text-transform: uppercase;
    color: #ff586c;
}

p {
	line-height: 1.4;
	margin-bottom: 0px;
}

.cus-item.active {
    background: rgba(0,0,0,0.15);
}

.cus-item-footer.active {
    color: #18bcc1 !important;
}

.navbar {
    padding: 0px;
}

.card-with-shadow {
    border: none;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
}

.btn-to-apartment {
    padding: 15px;
    border-top: 1px solid gainsboro;
    text-align: center;
    color: #ff586c;
    padding-right: 35px;
}

.btn-to-apartment:after {
    content: "";
    width: 30px;
    height: 20px;
    position: absolute;
    margin: 10px 0px 0px 12px;
    background: url(/themes/project40/assets/images/arrow.png);
    background-repeat: no-repeat;
}

.btn-to-apartment:hover {
    background: #ff586c;
    color: #fff;
    text-decoration: blink;
}

.btn-to-apartment:hover::after {
    background: url(/themes/project40/assets/images/arrow-w.png);
    background-repeat: no-repeat;
}

.apartment-count {
    color: #ff586c;
    font-size: 15px;
    position: absolute;
    margin: -4px 0px 0px 13px;
}

.status {
    position: absolute;
    right: 0px;
    background: #f80522;
    height: 33px;
    top: 40px;
    color: #fff;
    padding: 4px 20px;
    min-width: 100px;
    text-align: center;
}

.status:before {
    width: 23px;
    height: 23px;
    content: "";
    display: block;
    left: 0px;
    position: absolute;
    margin: 1px 0px 0px -12px;
    transform: rotate(45deg);
}

.status.s-open, .status.s-open:before  {
	background: #5bd104;
}

.status.s-close, .status.s-close:before  {
	background: #f80522;
}

.status.s-reserv, .status.s-reserv:before  {
	background: #ff586c;
}

h5 {
    font-size: 13px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

.span-relax {
    font-size: 18px;
    font-weight: 700;
    margin-right: 84px;
    margin-top: 10px;
    line-height: 2.5;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

.separator-bottom {
    border-bottom: 1px solid #292929;
}

.separator-hor {
    border-right: 1px solid #292929;
}

.title {
    background: #dbfafb;
    padding: 24px 26px 14px;
    border-bottom: 1px solid #262626;
}

.show-modal {
    display: block;
    position: absolute;
    bottom: 0px;
    background: #139ca0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 26px 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 999;
}

.pos-rel {
	position: relative;
}

a.show-modal:hover {
    color: #fff;
    text-decoration: none;
    background: #0c6e71;
}

span.price-box {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    width: 296px;
    background: #ff586c;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 20px 5px;
}

span.price-box h1 {
    float: left;
    margin-right: 14px;
}

span.label-for-day {
    font-size: 18px;
    padding-top: 17px;
    text-transform: uppercase;
    display: block;
}

footer {
    background: #313549;
    height: 328px;
}

ul.social-footer {
    list-style: none;
    padding: 0px;
}

.social-footer li {
    padding: 4px 0px;
}

.social-footer a {
    color: #fff;
    font-size: 14px;
}

.icon-phone-footer {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: block;
    background: url(/themes/project40/assets/images/phone-footer.png);
    float: left;
    background-repeat: no-repeat;
    margin-top: 6px;
}

.icon-mail-footer {
    width: 15px;
    height: 15px;
    margin-right: 9px;
    display: block;
    background: url(/themes/project40/assets/images/mail-footer.png);
    float: left;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: 1px;
}

.link-to-vk-footer {
    margin-left: 25px;
}

li.np-style {
    color: #676879;
    font-size: 14px;
    padding-left: 25px;
}

li.np-style a {
    color: #676879;
}

.card-min-height {
    min-height: 517px;
}

.card-review-min-height {
    min-height: 299px;
}

.review {
    background: #ecedee;
}