<script type="text/javascript">
	$(function(){
		$('#myModal2').modal('hide');
	});
</script>

<div class="mt-4 mb-2 alert alert-success alert-dismissible fade show" role="alert">
  {{ 'WeGotYourReservation'|_ }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>