[staticMenu]
code = "osnovnoe-menyu"

==
<div id="footer">
    <div class="container">
        <div class="row">
        	<div class="col-lg-3">
        		<a class="navbar-brand mt-4" href="/">
		    		<img src="{{ 'assets/images/logotype-footer.png'|theme }}" width="166" height="49" class="d-inline-block align-top" alt="">
		  		</a>
        	</div>
        	<div class="col-lg-6">
        		<div class="navbar-nav mt-3">
			    	{% for item in staticMenu.menuItems %}
			    	{% if item.viewBag.cssClass == null %}
			      <a class="nav-item nav-link cus-item-footer{% if item.isActive %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
			      	{% endif %}
			      {% endfor %}  
			    </div>
        	</div>
        	<div class="col-lg-3">
        		<div class="section mt-3">
        			<ul class="social-footer">
        				<li><i class="icon-phone-footer"></i><a href="tel:{{ 'ShortPhoneNumber'|_ }}">{{ 'PhoneNumber'|_ }}</a></li>
        				<li><a class="link-to-vk-footer" target="_blank" href="{{ 'LinkToVK'|_ }}">{{ 'WeInVK'|_ }}</a></li>
        				<li><i class="icon-mail-footer"></i><a href="email:{{ 'Email'|_ }}">{{ 'Email'|_ }}</a></li>
        				<li class="np-style">Dev by <a target="_blank" href="https://northpen.ru">«Northern Peninsula»</a></li>
        			</ul>
        		</div>
        	</div>
        </div>
    </div>
</div>
