[staticMenu]
code = "osnovnoe-menyu"

[viewBag]
==
<div class="container mt-3 mb-3">
	<div class="row">
		<div class="col-lg-4">
			<a class="navbar-brand" href="/">
		    	<img src="{{ 'assets/images/logotype.png'|theme }}" width="166" height="49" class="d-inline-block align-top" alt="">
		  	</a>
		</div>
  		<div class="col-lg-3">
  			<div class="phone-box">
  				<div class="icon-into-box">
  					<img src="{{ 'assets/images/phone.png'|theme }}" alt="placeholder+image">
  				</div>
  				<div class="right-into-box">
  					<div class="into-box-top">
  						<span class="title-phone">{{ 'TitlePhone'|_ }}</span>
  						<div class="time-work">{{ 'TimeWork'|_ }}</div>
  					</div>
  					<div class="into-box-bottom">
  						<a href="tel:{{ 'ShortPhoneNumber'|_ }}">{{ 'PhoneNumber'|_ }}</a>
  						
  						<!-- Viber icon -->
  						{% if 'ShowIconViber'|_ == 'Да' %}
  						<span class="icon-messanger" style="background: url({{ 'assets/images/viber.png'|theme }});"></span>
  						{% endif %}

  						<!-- WhatsApp icon -->
  						{% if 'ShowIconWhatsApp'|_ == 'Да' %}
  						<span class="icon-messanger" style="background: url({{ 'assets/images/whatsapp.png'|theme }});"></span>
  						{% endif %}

  						<!-- WhatsApp icon -->
  						{% if 'ShowIconTelegram'|_ == 'Да' %}
  						<span class="icon-messanger" style="background: url({{ 'assets/images/telegram.png'|theme }});"></span>
  						{% endif %}
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="col-lg-3">
  			<div class="email-box">
  				<div class="icon-into-box">
  					<img src="{{ 'assets/images/email.png'|theme }}" alt="placeholder+image">
  				</div>
  				<div class="right-into-box">
  					<div class="into-box-top">
  						<span class="title-phone">{{ 'TitleEmail'|_ }}</span>
  					</div>
  					<div class="into-box-bottom">
  						<a href="email:{{ 'Email'|_ }}">{{ 'Email'|_ }}</a>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="col-lg-2 justify-content-end">
  			{% if 'LinkToVK'|_ %}
			<a class="link-to-vk right" target="_blank" href="{{ 'LinkToVK'|_ }}">{{ 'WeIn	'|_ }} <img class="icon-vk" src="{{ 'assets/images/vk.png'|theme }}"></a>
  			{% endif %}
  		</div>
	</div>
</div>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light main-color">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    	{% for item in staticMenu.menuItems %}
    	{% if item.viewBag.cssClass == null %}
      <a class="nav-item nav-link cus-item{% if item.isActive %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      	{% endif %}
      {% endfor %}  
    </div>
  </div>
    {% for item in staticMenu.menuItems %}
    	{% if item.viewBag.cssClass %}
			<a class="nav-item nav-link cus-item font-size-10{% if item.isActive %} active{% endif %} right" href="{{ item.url }}">{{ item.title }}</a>
		{% endif %}	
    {% endfor %}  
	</div>
</nav>